In [1]:
import pandas as pd
import numpy as np
ds = pd.read_csv('weatherAUS.csv')
df = ds.drop(['Evaporation', 'Sunshine','Cloud9am','Cloud3pm'], axis='columns')
df

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,11.0,51.0,24.0,1024.6,1020.3,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,9.0,56.0,21.0,1023.5,1019.1,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,9.0,53.0,24.0,1021.0,1016.8,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,7.0,51.0,24.0,1019.4,1016.5,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,ESE,ESE,17.0,17.0,62.0,36.0,1020.2,1017.9,15.0,20.9,No,NaN

In [2]:
df['MinTemp'].isnull().sum().sum()

1485

In [3]:
df['MaxTemp'].isnull().sum().sum()

1261

In [4]:
df['Rainfall'].isnull().sum().sum()

3261

In [5]:
df['WindDir9am'].isnull().sum().sum()

10566

In [6]:
dff = df.dropna()

In [7]:
dff

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,2017-06-20,Uluru,3.5,21.8,0.0,E,31.0,ESE,E,15.0,13.0,59.0,27.0,1024.7,1021.2,9.4,20.9,No,No
145455,2017-06-21,Uluru,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,11.0,51.0,24.0,1024.6,1020.3,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,9.0,56.0,21.0,1023.5,1019.1,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,9.0,53.0,24.0,1021.0,1016.8,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,7.0,51.0,24.0,1019.4,1016.5,15.1,26.0,No,No

In [8]:
dff.isnull().sum().sum()

0

deleted rows with NaN
now go on with normalization

In [9]:
#scaled numbers
X_num = dff.drop(['Date','Location','WindGustDir','WindDir9am','WindDir3pm','RainToday','RainTomorrow'], axis = 'columns')
from sklearn import preprocessing 
scaled_num = preprocessing.MinMaxScaler().fit_transform(X_num)
cols = X_num.columns.values
x_num = pd.DataFrame(data = scaled_num, columns=cols)
x_num

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm
0,0.513064,0.446154,0.001632,0.289062,0.211765,0.258824,0.71,0.22,0.449587,0.4800,0.461894,0.446667
1,0.370546,0.494505,0.000000,0.289062,0.023529,0.235294,0.44,0.25,0.497521,0.4912,0.468822,0.502222
2,0.501188,0.507692,0.000000,0.304688,0.200000,0.282353,0.38,0.30,0.447934,0.5056,0.556582,0.477778
3,0.413302,0.558242,0.000000,0.132812,0.105882,0.082353,0.45,0.16,0.613223,0.5712,0.489607,0.551111
4,0.610451,0.652747,0.002720,0.265625,0.058824,0.211765,0.82,0.33,0.500826,0.4624,0.482679,0.622222
...,...,...,...,...,...,...,...,...,...,...,...,...
112920,0.277910,0.421978,0.000000,0.187500,0.152941,0.129412,0.59,0.27,0.730579,0.7056,0.288684,0.426667
112921,0.261283,0.457143,0.000000,0.187500,0.129412,0.105882,0.51,0.24,0.728926,0.6912,0.304850,0.460000
112922,0.280285,0.498901,0.000000,0.117188,0.129412,0.082353,0.56,0.21,0.710744,0.6720,0.323326,0.506667
112923,0.323040,0.534066,0.000000,0.234375,0.082353,0.082353,0.53,0.24,0.669421,0.6352,0.360277,0.542222
112924,0.380048,0.536264,0.000000,0.164062,0.129412,0.058824,0.51,0.24,0.642975,0.6304,0.420323,0.540000

In [10]:
x_str = dff.drop(['Date','MinTemp','MaxTemp','Rainfall','WindGustSpeed','WindSpeed9am','WindSpeed3pm','Humidity9am','Humidity3pm','Pressure9am','Pressure3pm','Temp9am','Temp3pm'], axis = 'columns')
x_str

       Location WindGustDir WindDir9am WindDir3pm RainToday RainTomorrow
0        Albury           W          W        WNW        No           No
1        Albury         WNW        NNW        WSW        No           No
2        Albury         WSW          W        WSW        No           No
3        Albury          NE         SE          E        No           No
4        Albury           W        ENE         NW        No           No
...         ...         ...        ...        ...       ...          ...
145454    Uluru           E        ESE          E        No           No
145455    Uluru           E         SE        ENE        No           No
145456    Uluru         NNW         SE          N        No           No
145457    Uluru           N         SE        WNW        No           No
145458    Uluru          SE        SSE          N        No           No

[112925 rows x 6 columns]

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x_str.Location = le.fit_transform(x_str.Location)
x_str.WindGustDir = le.fit_transform(x_str.WindGustDir)
x_str.WindDir9am = le.fit_transform(x_str.WindDir9am)
x_str.WindDir3pm = le.fit_transform(x_str.WindDir3pm)
x_str.RainToday = le.fit_transform(x_str.RainToday)
x_str

        Location  WindGustDir  WindDir9am  WindDir3pm  RainToday RainTomorrow
0              1           13          13          14          0           No
1              1           14           6          15          0           No
2              1           15          13          15          0           No
3              1            4           9           0          0           No
4              1           13           1           7          0           No
...          ...          ...         ...         ...        ...          ...
145454        36            0           2           0          0           No
145455        36            0           9           1          0           No
145456        36            6           9           3          0           No
145457        36            3           9          14          0           No
145458        36            9          10           3          0           No

[112925 rows x 6 columns]

In [12]:
x_str.count()

Location        112925
WindGustDir     112925
WindDir9am      112925
WindDir3pm      112925
RainToday       112925
RainTomorrow    112925
dtype: int64

In [13]:
x_num.count()

MinTemp          112925
MaxTemp          112925
Rainfall         112925
WindGustSpeed    112925
WindSpeed9am     112925
WindSpeed3pm     112925
Humidity9am      112925
Humidity3pm      112925
Pressure9am      112925
Pressure3pm      112925
Temp9am          112925
Temp3pm          112925
dtype: int64

In [14]:
112925*2

225850

In [17]:
X_compl = pd.concat([x_str,x_num], axis= 1)
X_compl.dropna()

,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm
0,1.0,13.0,13.0,14.0,0.0,No,0.513064,0.446154,0.001632,0.289062,0.211765,0.258824,0.71,0.22,0.449587,0.4800,0.461894,0.446667
1,1.0,14.0,6.0,15.0,0.0,No,0.370546,0.494505,0.000000,0.289062,0.023529,0.235294,0.44,0.25,0.497521,0.4912,0.468822,0.502222
2,1.0,15.0,13.0,15.0,0.0,No,0.501188,0.507692,0.000000,0.304688,0.200000,0.282353,0.38,0.30,0.447934,0.5056,0.556582,0.477778
3,1.0,4.0,9.0,0.0,0.0,No,0.413302,0.558242,0.000000,0.132812,0.105882,0.082353,0.45,0.16,0.613223,0.5712,0.489607,0.551111
4,1.0,13.0,1.0,7.0,0.0,No,0.610451,0.652747,0.002720,0.265625,0.058824,0.211765,0.82,0.33,0.500826,0.4624,0.482679,0.622222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112725,41.0,10.0,0.0,10.0,0.0,No,0.672209,0.870330,0.000000,0.367188,0.082353,0.258824,0.19,0.08,0.428099,0.4000,0.838337,0.875556
112726,41.0,10.0,9.0,10.0,0.0,No,0.852732,0.835165,0.000000,0.367188,0.235294,0.282353,0.20,0.14,0.447934,0.4384,0.817552,0.831111
112727,41.0,9.0,9.0,8.0,0.0,No,0.755344,0.643956,0.001088,0.320312,0.047059,0.058824,0.43,0.39,0.484298,0.5104,0.745958,0.613333
112728,41.0,10.0,10.0,10.0,0.0,No,0.714964,0.804396,0.000544,0.484375,0.200000,0.341176,0.47,0.24,0.472727,0.4240,0.748268,0.802222
112771,41.0,11.0,12.0,8.0,1.0,No,0.795724,0.775824,0.000000,0.250000,0.305882,0.258824,0.22,0.22,0.452893,0.4288,0.775982,0.782222

In [18]:

x_train = X_compl.drop(['RainTomorrow'], axis='columns').head(90340)
y_train = X_compl.RainTomorrow.head(90340)
x_test = X_compl.drop(['RainTomorrow'], axis='columns')[90340:]
y_test = X_compl.RainTomorrow[90340:]
x_train.isnull().sum()

Location         20166
WindGustDir      20166
WindDir9am       20166
WindDir3pm       20166
RainToday        20166
MinTemp              0
MaxTemp              0
Rainfall             0
WindGustSpeed        0
WindSpeed9am         0
WindSpeed3pm         0
Humidity9am          0
Humidity3pm          0
Pressure9am          0
Pressure3pm          0
Temp9am              0
Temp3pm              0
dtype: int64

In [ ]:
from sklearn import tree
tree = tree.DecisionTreeClassifier()
tree.fit(x_train,y_train)

In [ ]:
y_train

In [ ]:
tree.score(x_train,y_train)

In [ ]:
tree.score(x_test,y_test)

In [ ]:
112925*80/100

In [ ]:
from sklearn import svm
from sklearn.model_selection import GridSearchCV
clf = GridSearchCV(svm.SVC(gamma='auto'), {
    'C': [1,10,20],
    'kernel': ['rbf','linear']
}, cv=10, return_train_score=False)
clf.fit(x, y)
clf.cv_results_